.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
	
}	
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	user-select: none;
	width: 19px;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #00b900;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}