html{
    height: 100%;
}
body{
    background: linear-gradient(#1c92d2, #f2fcfe);
    color: white;
    font-family: arial;
    margin: 0px;
}
header{
    padding: 5px 15px 5px;
    height: 30px;   
}
.header_text_1{
    color: white;
    padding: 5px 10px 5px;
    background:  rgba(0, 0, 0, 0.5);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0);
    margin-left: 5px;
    float: right;
}
.header_text_1:hover{
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}
.header_text_2{
    color: white;
    padding: 5px 10px 5px;
    background:  rgba(0, 0, 0, 0.5);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0);
    margin-left: 5px;
    float: left;
}
.header_text_2:hover{
    border-left: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
}
footer{
    height: 50px;
}
.form_sign_up{
    margin: 10px;
}
.sign_up{
    width: 90%;
    padding: 5px;
    margin: 5px;
}
.img_1{
    align-self: center;
    width: auto;
    border-radius: 5px
}
.panel_1{
    display: block;
    align-content: center;
    width: 600px;
    background: rgb(0,0,0,0.5);
    padding: 1%;
    margin: 10px; 
    border-radius: 5px
}

.gradient_1{
    background: linear-gradient(90deg, #30cfd0, #330867);
    animation: gradient 10s ease infinite;
    background-size: 300%;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}